*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 400px;
    height: 400px;
    margin-top: 4rem;
    background-color: rgb(234, 244, 252);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.144);
}
.add{
    text-decoration: none;
    width: 100%;
    padding:1rem;
    background-color:rgb(67, 165, 165);
    color:black;
    border-radius:2rem;
    margin:1rem auto;
    border:none;
    outline:none;
    font-size: larger;
    cursor:pointer;
    
}