*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 400px;
    box-shadow: 2px black;
}